* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
}

.row {
    display: flex;
}

.col-6 {
    width: 50%;
    flex-wrap: wrap;
    margin-top: 30px;
}


.image img {
    width: 208px;
    height: 208px;
}



.text {
    width: 200px;
    height: 100px;
    margin-left: 20px;
}

.why-code-az-item {
    margin-bottom: 80px;
    display: flex;
}

.text h5 {
    font-size: 20px;
}

.title p {
    margin-top: 20px;
    width: 500px;
}

.title h3 {
    font-size: 50px;
    width: 400px;
    position: relative;
    margin-bottom: 50px;
}

.title h3 span:first-child {
    font-weight: 25;
}

.title h3 span:nth-child(2) {
    font-weight: 900;
    display: block;
}

.title h3::after {
    content: "";
    width: 100px;
    height: 2px;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    position: absolute;
    top: 100%;
    left: 5px;
    margin-top: 20px;
}

.why-code-az-item a {
    color: gray;
    position:relative;
    top:20px;
}